.contacts {
  background-color: #252525;
  color: #fff;
}

.contacts__content {
  padding: 15px;
}

.contacts__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.contacts__address {
  padding: 5px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.contacts__phone {
  display: block;
  padding: 5px;
  padding-left: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.contacts__time {
  padding: 5px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: center left;

  &--gray {
    color: #CDCDCD;
  }

  &--yellow {
    color: #FFE34F;
  }
}

.contacts__map {
  width: 100%;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: flex-end;
  }

  .contacts__content {
    width: 400px;
  }

  .contacts__map {
    width: 60%;
  }
}
