.feedback {
  background-color: #161616;
  color: #fff;
}

.feedback__form {
  padding: 15px;
  max-width: 302px;
  margin: auto;
}

.feedback__title {
  width: 100%;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.feedback__input {
  width: 100%;
  padding: 13px 10px;
  margin-bottom: 20px;
}

.feedback__btn {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #F6BE2D;
  border: none;
}

.feedback__agree {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 302px;
  font-size: 14px;
  line-height: 12px;

  input {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .feedback {
    padding: 20px 0 70px;
  }

  .feedback__form {
    max-width: 623px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feedback__input {
    max-width: 302px;
  }

  .feedback__btn {
    max-width: 302px;
    transition: 0.3s ease;

    &:hover {
      background-color: darken(#F6BE2D, 15%);
    }
  }

  .feedback__input {
    &--name {
      order: 1;
    }
  }

  .feedback__agree {
    order: 2;
    margin-top: 15px;
  }

  .feedback__btn {
    order: 3;
  }
}
