.navigation__list {
  @include list;
  padding: 0 0 0 50px;
}

.navigation__link {
  display: inline-block;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &--active {
    border-bottom: 2px solid #FFE34F;
  }
}

@media (min-width: 768px) {
  .navigation {
    margin-left: auto;
  }

  .navigation__list {
    display: flex;
  }

  .navigation__item {
    margin: 0 20px;
  }
}
